/* login.css */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: url("/imgs/background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    background-color: #ffffff;
    border: 2px solid #0077b6; /* Azul marinho */
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 40px 30px;
    width: 320px;
    text-align: center;
}

.login-container h2 {
    color: #0077b6; /* Azul marinho */
    margin-bottom: 20px;
}

.login-container form {
    display: flex;
    flex-direction: column;
}

.login-container label {
    text-align: left;
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
}

.login-container input[type="email"],
.login-container input[type="password"] {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

.login-container button[type="submit"] {
    padding: 10px;
    background-color: #0077b6; /* Azul marinho */
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.login-container button[type="submit"]:hover {
    background-color: #005f73; /* Azul marinho escuro */
}

.forgot-password {
    display: block;
    margin-top: 15px;
    color: #0077b6; /* Azul marinho */
    text-decoration: none;
    font-size: 14px;
}

.forgot-password:hover {
    text-decoration: underline;
}