<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Adicionar Novo Cilindro</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<div th:replace="~{fragments/menu :: menu}"></div>

<body>
<h1>Adicionar Novo Cilindro</h1>
<form th:action="@{/cilindros}" th:object="${cilindro}" method="post">
    <div>
        <label>Data de Fabricação:</label>
        <input type="text" th:field="*{dataFabricacao}" required />
    </div>
    <div>
        <label>Serial:</label>
        <input type="text" th:field="*{serialNum}" required />
    </div>
    <div>
        <label>Tipo:</label>
        <input type="text" th:field="*{tipoCilindro}" required />
    </div>

    </div>
    <button type="submit">Salvar</button>
   

</form>

<a th:href="@{/cilindros}">
    <button>Lista</button>
</a>
</body>

</html>
